body {
	background-color: #A0D6AE;
	background-image: url('../images/background.png');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	font-family: 'Courier New', Courier, monospace;
	overflow: hidden;
}
.btn {
	font-family: 'Courier New', Courier, monospace;
	background-color: transparent;
	border: none;
	box-shadow: inset 2px 2px #e2e2e280, 2px 2px #2E2E2E80;
   /*prevent buttons from being highlighted*/
   -webkit-touch-callout: none;
   -webkit-user-select: none;
   -khtml-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
}
.btn:active {
	box-shadow: inset 2px 2px #2E2E2E80, 2px 2px #e2e2e280;
}
.btn:hover {
   background-color: #aae4b9c2;
}
.readonly { /*prevent highlighting and text cursor*/
   -webkit-touch-callout: none;
   -webkit-user-select: none;
   -khtml-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
}